.App {
  text-align: left;
}

body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.Profile > * {
  margin: 3%;
}